/*************
  particleJS
**************/


/* ---- reset ---- */

body {
    background: white;
    height: 100%;
    width: 100%;
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #163040;
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50% 50%;
}


/*************
  index.html
**************/

div {
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
}

.footer {
    /* font */
    font-size: 1em;
    /* size */
    width: 100%;
    height: 40px;
    /* position */
    position: relative;
    bottom: 0px;
    /* color */
    border-top: solid 1px rgb(71, 188, 132);
}

#div-1 {}

#div-2,
#div-3,
#div-4 {
    padding-top: 15%;
    padding-bottom: 15%;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    bottom: 7px;
}

#div-3 {}

#div-4 {
    bottom: 0;
}

#container {
    position: absolute;
    z-index: 1;
}


/*************
  planet
**************/

.space {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.space .mars {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
}

.space .mars .planet {
    box-sizing: border-box;
    position: absolute;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    overflow: hidden;
    margin-left: -60px;
    margin-top: -60px;
    z-index: 2;
    animation: planetRotate 12s infinite
}

.space .mars .planet .surface {
    position: absolute;
    border-radius: 100%;
    height: 140%;
    width: 140%;
    top: -30%;
    right: -10%;
    box-sizing: border-box;
    border: 30px solid rgba(0, 0, 0, 0.15);
    background: #ff5f40;
}

.space .mars .planet .crater1,
.space .mars .planet .crater2,
.space .mars .planet .crater3 {
    position: absolute;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.15);
    box-shadow: inset 3px 3px 0 rgba(0, 0, 0, 0.2);
    animation: planetRotate 5s infinite
}

.space .mars .planet .crater1 {
    height: 20px;
    width: 20px;
    top: 32%;
    left: 17%;
}

.space .mars .planet .crater2 {
    height: 10px;
    width: 10px;
    top: 26%;
    left: 55%;
    box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.space .mars .planet .crater3 {
    height: 10px;
    width: 10px;
    top: 60%;
    left: 40%;
    box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.2);
}

@keyframes planetRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}