/*************
  particleJS
**************/


/* ---- reset ---- */

body {
    background: white;
    height: 100%;
    width: 100%;
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #163040;
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50% 50%;
}


/*************
  index.html
**************/

div {
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
}

.footer {
    /* font */
    font-size: 1em;
    /* size */
    width: 100%;
    height: 40px;
    /* position */
    position: relative;
    bottom: 0px;
    /* color */
    border-top: solid 1px rgb(71, 188, 132);
}

#div-1 {}

#div-2,
#div-3,
#div-4 {
    padding-top: 15%;
    padding-bottom: 15%;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    bottom: 7px;
}

#div-3 {}

#div-4 {
    bottom: 0;
}

#container {
    position: absolute;
    z-index: 1;
}


/*************
  planet
**************/

.planet_wraper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 7rem;
    height: 7rem;
    margin: auto;
    border-radius: 50%;
}

.planet_shadow {
    background-image: linear-gradient(top left, #24b88b 20%, #21776f);
    background-image: -moz-linear-gradient(top left, #24b88b 20%, #21776f);
    box-shadow: inset 0 -5px 10px rgba(22, 48, 64, 0.5), 0 0 1.5rem rgba(170, 194, 194, 0.3);
}

.planet {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: rotate 15s linear infinite;
    overflow: hidden;
}

.planet_wraper::before {
    top: -1.75rem;
    left: -1.75rem;
    width: 11rem;
    height: 11rem;
    animation-delay: 1s;
}

.planet_wraper::after {
    top: -2.5rem;
    left: -2.5rem;
    width: 15rem;
    height: 15rem;
}

.planet>* {
    position: relative;
    border-radius: 50%;
    background-color: #209b85;
    box-shadow: inset 1px 1px 5px #163040, 0 0 7px #63eed2;
    opacity: 0.3;
}

.crater:nth-of-type(1) {
    top: 2rem;
    left: 1.5rem;
    width: 0.75rem;
    height: 0.75rem;
}

.crater:nth-of-type(2) {
    top: -0.75rem;
    left: 5rem;
    width: 2.5rem;
    height: 2.5rem;
}

.crater:nth-of-type(3) {
    top: 0.5rem;
    left: 2rem;
    width: 1.25rem;
    height: 1.25rem;
}

.crater:nth-of-type(4) {
    top: -1.5rem;
    left: 3.5rem;
    width: 0.5rem;
    height: 0.5rem;
}

.crater:nth-of-type(5) {
    top: 1.25rem;
    left: 3.5rem;
    width: 2rem;
    height: 1.5rem;
}

@keyframes bg {
    to {
        background-position: center 20rem;
    }
}

@keyframes rotate {
    to {
        transform: rotate(360deg)
    }
}